<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>LET'S SETTLE THIS!</title>

    <link
      href="https://fonts.googleapis.com/css?family=Oswald:700|Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="m-4 border-8">
      {% include '../components/header.html' %}
      {% include '../components/title.html' %}

      {% block content %}{% endblock %}

      {% include '../components/footer.html' %}
    </div>
  </body>
</html>
